body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    color: #444;
    #__nuxt, #__layout, #app {
      min-height: 100vh;
    }
    #app {
      display: flex;
      flex-direction: column;
      > main {
        flex-grow: 1
      }
    }
}
