@import '../../node_modules/normalize-scss/sass/normalize';

a {
  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
}

input {
  filter: none;
}
