#header {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .nav {
    &-link {
      color: #444!important;
    }
  }
}

.header {
  &__logo {
    height: 48px;
    &--minimal {
     height: 32px;
    }
  }

  &--minimal {
    .navbar {
      padding: 0;
      &-brand {
        align-items: center;
        display: flex;
        padding: {
          top: 0.25rem;
          bottom: 0.25rem;
        }
      }
    }
  }
}
